body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #1f150e, #ddbc95) no-repeat fixed;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}



.logo {
    max-width: 100%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.photo {
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.information-container {
    font-family: 'Roboto Condensed', sans-serif;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 40px;
}

.description-container {
    padding: 20px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer {
    margin: 0 0 5px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid #ffffff;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 20px;
}

.footer-social-media {
    margin: 10px 0 0 0;
}

.footer-address a {
    color: white;
    text-decoration: none;
}

.footer-social-media a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.footer-address a:hover {
    color: rgb(9, 99, 222);
}








